.flat {
    .bg-status {
        fill: #03a9f4;
    }
 

    &.action{
        .bg-status {
            fill: #80D34E;
        }
    }

    &.sold{
        .bg-status {
            fill: #D34E4E;
        }
    }
    &.booking{
        .bg-status {
            fill: #6B68FF;
        }
    }
}

.plan {
    fill: #f0f8ff00;
    stroke: #ff000000;
    cursor: pointer;
    &:hover {
        fill: #74ff8950;
        stroke: #42fb5e;
        stroke-width: 3px;
    }
}
