<section class="genplan">
    
    <svg width="1172" height="737" viewBox="0 0 1172 737" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="genplan">
       
        <rect id="genplan_1 1" width="1171.83" height="737" fill="url(#pattern0)"/>
        <g id="builds">
            <path id="build-4" class="build" d="M567.5 694L507 658L500.5 384.5L608 307.5L676 335.5L662 605.5L567.5 694Z" />
            <path id="build-3" class="build" d="M733.5 535.5L676 509L695 243.5L759 199L821 220L791.5 476.5L733.5 535.5Z" fill="#00FF19" fill-opacity="0.3" stroke="#00FF19" stroke-width="3"/>
            <path id="build-2" class="build" d="M501 432.5L490 427.5L481.5 184L569.5 135.5L621.5 153L618.5 311.5L608 306.5L501 383.5V432.5Z" fill="#FF0062" fill-opacity="0.3" stroke="#FF0062" stroke-width="3"/>
            <path id="build-1" class="build" d="M377 587.5L329 559.5L295.5 285.5L387 235L441.5 260L458 525.5L377 587.5Z" fill="#FFAE00" fill-opacity="0.3" stroke="#FFAE00" stroke-width="3"/>
        </g>
        </g>
        <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_1337_4" transform="scale(0.00125786 0.002)"/>
        </pattern>
        <image id="image0_1337_4" data-name="genplan_1.jpg" width="795" height="500" xlink:href="assets/img/genplan_1.jpg"/>
        </defs>
        </svg>
        <table class="table outset-neomo">
            <thead>
              <tr>
                <th>Номер дома</th>
                <th>Кол-во этажей</th>
                <th>кол-во квартир</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Soccor</td>
                <td>23</td>
                <td>3</td>
              </tr>
              
            </tbody>
          </table>
</section>